.animation-appear {
  animation: 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) animation-appear forwards;

  transform: translate3d(-50px, 0, 0);
  opacity: 0;
}

@keyframes animation-appear {
    from {
      transform: translate3d(-50px, 0, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }