/*
 * Globals
 */

/* Links */

a,
a:focus {
  color: #404040;
  text-decoration: underline;
}

a:hover {
  color: #5dc6e0;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  padding-block-start: 10%
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #404040;
}
h1 {
  font-size: 500%;
  padding-bottom: 5%
}
p.lead {
 color: #005f9e;
 font-size: 200%
}
p {
  font-size: 150%
}
.cover-container {
  max-width: 42em;
}
