/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
  color: #83ceff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #404040;
}

p.lead {
 color: #005f9e
}
.cover-container {
  max-width: 42em;
}
